*{
    -fx-font-family: 'calibri','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /*For the Background color*/
    -light-base-color:  linear-gradient(to right, #fdfc47, #24fe41);
    -dark-base-color: linear-gradient(to right, #11998e, #38ef7d);

    /*For the text color*/
    -light-text-color: #1a1a1a;
    -dark-text-color: #f2f2f2;

    /*For the pane color*/
    -light-pane-color: rgba(150, 167, 141, 0.75);
    -dark-pane-color: rgba(255, 255, 255, 0.75);

    /*For the warning color*/
    -forget-color: #DC0000;

    /*For the alert background*/
    -alert-warning: yellow;

}
/*For the Background of the root pane*/
#root{
    -fx-background-color: -light-base-color;
}

.label{
    -fx-font-size: 20px;
}

.label-header {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}

.button {
    -fx-font-size: 20px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 3, 0, 0, 1);
    -fx-text-fill: -light-text-color;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: -light-base-color;
}
.button:hover {
    transition: all 0.3s ease;
    -fx-background-color: -dark-base-color;
}
.text-field{
    -fx-font-size: 20px;
    -fx-text-fill: -light-text-color;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 3, 0, 0, 1);
    -fx-border-radius: 10px;
    -fx-padding-left: 5px;
    -fx-background-radius:10px;
}
.password-field{
    -fx-font-size: 20px;
    -fx-text-fill: -light-text-color;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 3, 0, 0, 1);
    -fx-border-radius: 10px;
    -fx-padding-left: 5px;
    -fx-background-radius:10px;
}

/*For the exit mini button*/
 #exitBtn ,#miniBtn  ,#sizeBtn, #showPasswordBtn, #hidePasswordBtn{
     -fx-font-size: 15px;
     -fx-border-color: none;
     -fx-background-color: transparent;
     -fx-pedding: 0;
     -fx-margin: 0;
 }
 #exitBtn:hover , #miniBtn:hover , #sizeBtn:hover{
     -fx-fill: rgb(242,242,242);
     -fx-background-color: #d91f1f;
     -fx-border-radius: 0;
     -fx-background-radius: 0;
     -fx-width: 20px;
     -fx-height: 20px;
 }


/*For the Selected Buttons*/
.selected-button{
    -fx-background-color: -dark-base-color;
    -fx-text-fill: -dark-text-color;
}